.header-app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 15px;
  background: #ff99cc;
  &__logo {
    max-width: 250px;
    min-width: 150px;
    max-height: 60px;
    margin-right: 20px;
  }
  &__nav {
    padding-right: 30px;
    max-width: 200px;
    min-width: 70px;
    width: 100%;
    &_links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    &_link {
      font-size: 16px;
      color: #2d3448;
      &:first-child {
        margin-right: 10px;
      }
      &:hover {
        color: lightgray;
      }
      //   &:focus {
      //     color: gray;
      //   }
      @media screen and (max-width: 500px) {
        font-size: 14px;
      }
    }
  }
}
