.news {
  width: 100%;
  height: calc(100vh - 60px);
  background: #99ffcc;
  &__header-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid gray;
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 40px 50px 10px;
    grid-gap: 20px;
    width: 100%;
    height: calc(100vh - 180px);
    overflow: auto;
    scrollbar-color: var(--gx-color-input-hover) transparent;
    scrollbar-width: thin;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: transparent; /* «цвет полосы скроллбара» */
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: #ff99cc; /* «цвет ползунка» */
    }
    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}
