.news {
  &__header {
    width: 100%;
    height: 10px;
    position: relative;
    &_subtitle {
      font-size: 12px;
    }
    &_close-icon {
      cursor: pointer;
      position: absolute;
      right: 0;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 6px;
    background: #cc9b9b;
    &-unconfirm {
      opacity: 0.8;
    }
    &_title h5 {
      margin: 0;
      padding: 0;
      font-weight: 400;
      color: #2d3448;
      font-size: 24px;
    }
    &_content p {
      margin: 20px 0;
      padding: 0;
      color: #09293c;
      font-size: 14px;
    }
    &_date p {
      margin: 0;
      padding: 0;
      color: #081015;
      font-size: 12px;
    }
  }
}
