.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 300ms;
  &__dialog {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    position: relative;
    margin: 0 20px;
    max-height: calc(100vh - 40px);
    text-align: center;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.5s;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #dbdbdb;
  }
  &__close {
    cursor: pointer;
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
  }
  &__form-title {
    margin-bottom: 20px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    &_input {
      position: relative;
      &:not(:first-child) {
        margin-top: 25px;
      }
      &-error {
        position: absolute;
        left: 5px;
        font-size: 12px;
        color: red;
      }
    }

    &_btn {
      margin-top: 60px;
      position: relative;
      &-error {
        width: 100px;
        position: absolute;
        top: -30px;
        left: -20px;
        font-size: 12px;
        color: red;
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}
